* {
    background-color: rgb(147, 134, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

.tile {
    height: 80px;
    width: 80px;
    background-color: rgb(181, 152, 235);
    border: 1px solid rgb(250, 249, 249);
    margin: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.matched-tile {
    height: 80px;
    width: 80px;
    background-color: rgb(147, 134, 219);
    border: 1px solid rgb(147, 134, 219);
    margin: 20px;
    border-radius: 15px;
}

.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "rA rA rA rA rA rA"
        "rB rB rB rB rB rB"
        "rC rC rC rC rC rC"
    ;
}

#a1 #a2 #a3 #a4 #a5 #a6 {
    grid-area: rA;
}

#b1 #b2 #b3 #b4 #b5 #b6 {
    grid-area: rB;
}

#c1 #c2 #c3 #c4 #c5 #c6 {
    grid-area: rC;
}

.game-title {
    color: rgb(93, 69, 214);
}

.reset-button {
    background-color: rgb(127, 209, 218);
    color: rgb(32, 62, 66);
    border-radius: 15px;
    cursor: pointer;
}

.tile-back {
    background-color: aqua;
    border: 1px solid rgb(250, 249, 249);
}

.message {
    color: whitesmoke;
    font-weight: bold;
}

footer {
    position: absolute;
    color: rgb(182, 161, 234);
    bottom: 20px;
}